<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Gene Expression" src="{{ "/assets/img/GeneExpression.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Modeling Gene Expression with Differential Equations </h3>
    <ul>
      <li> Mathematical Modeling</li>
    </ul>
    <p>In this paper I examine a system of first order differential equations as a model for gene expression. I solve the system for equilibrium points and analyze the points through eigenvalues and bifircations in order to understand the biological relevance. Julia is used to plot solutions for analysis. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="DEHP" src="{{ "/assets/img/dehp.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DEHP Research </h3>
    <ul>
      <li> Data Analysis</li>
    </ul>
    <p> I conducted research on Di(2-ethylhexyl)phthalate, a chemical added to some plastics to make them flexible, using data from the SRA database. Through analysis of this data I was able to target genes of interest that are impacted negatively in their expression due to exposure of DEHP.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
